body{
    font-family: Montserrat;
    font-style:normal;
    /* font-weight:700; */
    text-transform:none;
    background-color: gainsboro;
    margin: 0;
    background-color: #2665a3;
    background: url(pattern-blueprints.png);
    background-image: url(pattern-blueprints.png);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #2665a3;
}

#main{
    background-color: white;
    margin: 2vh 5vh;
    padding: 2vh;
    height: 92vh;
}

#app{
    margin: 20px;
}

.param {
    font-size: 1em;
}

#choice {
    font-size: 1.1em;
    width: 30%;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
    text-decoration:underline;
    cursor: pointer;
}

.optionalbutton{
    width: 90%;
    background: #F5F5F5;
    text-align: center;
    font-weight: bolder;
    font-size:1em;
    margin:15px 15px; 
    padding: 15px;
}

input, select, option {
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

textarea {
    padding: 12px 10px;
    width: 50%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:1em;
}

input{
    margin: 5px 10px
}

.center {
    text-align: center;
    width: 100%;
    /* float: right; */
    height: 5vh;
}

.indent-1 {
    margin-left: 15px; 
    height: 65vh;
    overflow: scroll;
    font-size: 0.9em;
    background-color: white;
}

.indent-2 {
    margin:15px 15px; 
    padding: 15px;
    /* background-color: ghostwhite; */
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.indent-3 {
    margin-left:15px; 
}

.unactive {
    opacity: 0.5;
}

.settingsTitle {
    font-weight: bold;
}

button {
    background-color: #008CBA ; 
    border: none;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7em;
    border-radius: 8px;
}

button:hover {
    background-color: #0033cc ; 
    cursor: pointer;
}

#generateButton{
    font-size: 1.2em;
}